.product-box {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: white;
}

.btn {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: #ccc;
}

.empty-cart-paragraph {
  color: #999;
}
